<title>About-Us</title>
{% extends "html/index.html" %}
{% load static %}
   {% block nav %}


<img src="{% static 'images/contact.jpg'%}" class="rounded" id="contactimg" width="100%" height="500px">
<div class="carousel-caption">
    <h1>About Us</h1>
    
    </div>



<div class="container" style="padding-left: 30px; " > 
    <div class="row">
      
    
        <div class="col-md-6 pl-2 ">
            <img src="{% static 'images/Marriage-Anniversary-HD-Wallpaper-9.jpg'%}" class="rounded" width=300px; height="400px;" id="ex1">
        </div>
        <div class="col-md-6 pt-5">
            <h2>Welcome to AJ Creative Photography Studio</h2>
            <p class="lead">Lorem ipsum dolor sit amet, pro ei justo mnesarchum, ad partem epicurei quo, iusto errem no cum. Idque minim his ut. Ut cum legendos similique, 
            quo an tantas aliquip graecis. Nec et consul voluptatum, 
            mel ex solum facete consequat. Cu eos lucilius gubergren, 
            ad sale definitionem his.</p>
            </div>
    </div>
</div>



<!--photo div-->
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12 " >
            <i class="fas fa-camera-retro" ></i>
            <h2 style="text-align: center;">Photography</h2>
            <p class="lead">Constituto percipitur ius, cu platonem mnesarchum nam. Nostrum vituperatoribus mea et, eu duo autem adipisci rationibus, eu nec assum aeterno omnesque.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <i class="fas fa-video"></i>
            <h2 style="text-align:center">Video</h2>
            <p class="lead">Constituto percipitur ius, cu platonem mnesarchum nam. Nostrum vituperatoribus mea et, eu duo autem adipisci rationibus, eu nec assum aeterno omnesque.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <i class="fas fa-broom"></i>
            <h2 style="text-align:center">Editing</h2>
            <p class="lead">Constituto percipitur ius, cu platonem mnesarchum nam. Nostrum vituperatoribus mea et, eu duo autem adipisci rationibus, eu nec assum aeterno omnesque.</p>
        
        </div>
    </div>
</div><!--photo div-->

<!--progress bar-->
<div class="contianer bg-light pr-5">
    <div class="row">
        <div class="col-md-6" id="light">
            <label>LIGHTROOM</label>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
              </div>

              <label>PHOTOSHOP</label>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
              </div>

              <label>ILLUSTRATOR</label>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
              </div>
        </div>
        <div class="col-md-6 pl-5" id="sk">
                <h1>Our Skills</h1>
                <p class="lead">Has alii illum apeirian te. 
                    Eam at decore maiorum. Scaevola posidonium nam an. Ad has nihil legimus constituam, soleat sanctus adolescens pro ex. Te eius nonumy tritani sit, at omnium vocent urbanitas nam, id ius utamur dolorem. No lorem offendit quaestio mea. No usu labore menandri pertinax, 
                    sea an voluptatum scripserit.</p>
        </div>
    </div>
</div>


{% endblock %}




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>