<title>contact</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% extends "html/index.html" %}
{% load crispy_forms_tags %}
{% load static %}

   {% block nav %}

<img src="{% static 'images/contact us.jpg' %}" class="rounded" id="contactimg" width="100%" height="700px">
<div class="carousel-caption">
    <h1 style="color: white;" class="pt-5">About Us</h1>


    </div>

<!--Enquiry section-->
<div class="carousel pl-2 pr-2">
    <div class="row">
        <div class="col-md-6" id="text">
            <h1>Are you interested to work with us? Get in touch</h1>
            <p class="lead">Lorem ipsum dolor sit amet, eam ex velit postea repudiare, 
                est sale definitiones id. Ut quo quem harum munere, eu labore 
                voluptatum mei, ad epicurei interesset has. 
                Vel dicant conceptam reformidans..</p><br><br>

                <h3 >Address</h3>
                <p class="lead">
                <span><i class="fas fa-map-marker-alt pr-2">
                    
                </i>Near Nanded Square shopping mall,
                   cidco Road New Nanded - 431603</span></p><br><br>
                

                          <h2>Mobile</h2><br>
                          <p>
                   <span><i class="fas fa-mobile-alt pr-2" style="font-size: 35px;"></i></span>+91 9049481134, 8793832358<br>
                </p><br><br>
                
                <h2>Email</h2>
                <span><i class="fas fa-envelope ml-2 pr-2" style="font-size: 35px;"></i>ajcreation@gmail.com</span>
        </div>
        <div class="col-md-6 " id="En">
            <div class="form-group">
                {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}

                        <div class="alert alert-success alert-dismissible fade show">
                            {{ message }}
                        </div>

                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <form action="" method="POST" >

                <fieldset>
                   {{ form|crispy }}
                    {% csrf_token %}

{#                    <label>Name</label>#}
{#                    <input type="text" placeholder="Enter Name here..." class="form-control"><br>#}
{##}
{#                    <label>Email</label>#}
{#                    <input type="text" placeholder="Enter Email here.." class="form-control"><br>#}
{##}
{#                    <label>Phone</label>#}
{#                    <input type="number" placeholder="Phone" class="form-control"><br>#}
{##}
{#                    <label>Message</label>#}
{#                    <input type="textarea" placeholder="Message" class="form-control"><br>#}

                    <button type="submit"  class="btn btn-primary">Send Message</button>
    </fieldset>
            </form>
        </div>
    </div>
</div><!--End Enquiry section-->

<div class="container pr-5">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <!--Google map-->
<div id="googlemap">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2173.4595150902846!2d77.30959648223885!3d19.129916444988712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd1d61f124bd471%3A0xd8bfbc22c2914f!2sNalanda%20Budh%20Vihar!5e0!3m2!1sen!2sin!4v1582895438534!5m2!1sen!2sin" width="1000" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div><!--End google map-->
    
        </div>
    </div>
</div>


{% endblock %}




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>