<title>fashion</title>
{% extends "html/index.html" %}

{% load static %}

   {% block nav %}

<img src="{% static 'images/fashion/model.jpg' %}" class="rounded" id="contactimg" width="100%" height="500px">
<div class="carousel-caption">
    <h1 style="color: white;" class="pt-5">Fadhion / Model Shoot</h1>

    
    </div>


    <!--start-->
<div class="container" style="padding-left: 30px; "> 
    <div class="row">
        <div class="col-md-4 pt-5 " >
            <img src="{% static 'images/fashion/1.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
        <div class="col-md-4 pt-5">
            <img src="{% static 'images/fashion/2.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
        <div class="col-md-4 pt-5">
            <img src="{% static 'images/fashion/3.jpg' %}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
        <div class="col-md-4 pt-5  ">
            <img src="{% static 'images/fashion/4.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
        <div class="col-md-4 pt-5">
            <img src="{% static 'images/fashion/5.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
        <div class="col-md-4 pt-5">
            <img src="{% static 'images/fashion/6.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
        <div class="col-md-4 pt-5">
            <img src="{% static 'images/fashion/7.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
        <div class="col-md-4 pt-5">
            <img src="{% static 'images/fashion/8.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
        <div class="col-md-4 pt-5">
            <img src="{% static 'images/fashion/9.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
        <div class="col-md-4 pt-5">
            <img src="{% static 'images/fashion/10.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
        <div class="col-md-4 pt-5">
            <img src="{% static 'images/fashion/11.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
        <div class="col-md-4 pt-5"> 
            <img src="{% static 'images/fashion/12.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div> 
        <div class="col-md-4 pt-5">
            <img src="{% static 'images/fashion/13.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
        <div class="col-md-4 pt-5">
            <img src="{% static 'images/fashion/14.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
        <div class="col-md-4 pt-5 ">
            <img src="{% static 'images/fashion/15.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
        <div class="col-md-4 pt-5 " >
            <img src="{% static 'images/fashion/16.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
        <div class="col-md-4 pt-5">
            <img src="{% static 'images/fashion/17.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
        <div class="col-md-4 pt-5">
            <img src="{% static 'images/fashion/18.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
        <div class="col-md-4 pt-5  ">
            <img src="{% static 'images/fashion/19.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
        <div class="col-md-4 pt-5">
            <img src="{% static 'images/fashion/20.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
        <div class="col-md-4 pt-5">
            <img src="{% static 'images/fashion/21.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
        <div class="col-md-4 pt-5">
            <img src="{% static 'images/fashion/22.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
        <div class="col-md-4 pt-5">
            <img src="{% static 'images/fashion/23.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
        <div class="col-md-4 pt-5">
            <img src="{% static 'images/fashion/24.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
        <div class="col-md-4 pt-5">
            <img src="{% static 'images/fashion/25.jpg'%}" class="rounded" width=300px; height="300px;" id="ex1">
        </div>
    </div>
</div>

<!--End-->


{% endblock %}





<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>